h1:first-of-type {
    color: black;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 40px;
    background-color: lightgrey;
    border-left: 2px solid;
    padding: 3px;
}

.menu {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
    background-color: lightgrey;
    border: 1px solid;
    padding: 2px;
}

.menu a {
    margin-right: 10px;
}

.about_me img {
    width:403.2px;
    height:302.4px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.helio, .links, .contact{
    clear: both;
}


.work_experience div h3 {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    background-color: rgb(201, 201, 201);
    padding-left: 20px;
    font-style: italic;
}

.experience-entries:nth-of-type(even) {
    background-color: rgb(185, 134, 24);
    text-decoration: underline;
    border-top: 4px solid;
    border-bottom: 4px solid;
    margin-bottom: 20px;
}
 
.experience-entries:nth-of-type(odd) {
    background-color: rgb(146, 233, 255);
    border-top: 4px solid;
    border-bottom: 4px solid;
    margin-bottom: 20px;
    
}

.experience-entries:nth-of-type(even) {

    background-color: rgb(109, 195, 235);
    border: 2px solid;
}

.contact form div{
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
}

.contact form:not(:last-child) {
    width: 150px;

}

.contact form div:nth-of-type(1) label {
    margin-right: 21px;
}

.contact form div:nth-of-type(2) label {
    margin-right: 25px;
}

.contact form div:nth-of-type(3) label {
    margin-right: 5px;
}

.contact form div:last-of-type input {
    margin-left: 68px;
    margin-top: 10px;
}

.experience-entries span {
    margin-left: 10px;
}

.about_me, .work_experience, .projects_page {
    background-image: linear-gradient(lightblue, green);
    border: 4px solid;
}









